body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

/* Top Section */

.top-nav{
/* position: absolute; */
width: 100%;
height: 100px;
}

.top-nav-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top-nav-right{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  right: 0;
  width: 100%;
  margin-top: 17px;
  padding-right: 24px;
}

.signUp{
  min-height: 40px;
  margin: 10px 20px;
}

#signBtn{
  padding: 0 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 25px;
  min-height: 40px;
  font-size: 1rem;
  font-weight: 700;
}

#header-logo{
  width: 18%;
  height: auto;
  padding-top: 2%;
}

/* Heading Section */

.top-heading{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
}

.strap{
  text-align: center;
  max-width: 670px;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 75px;
}

/* Search Section */

.top-search{
  width: 100%;
  height: 100px;
}

.top{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 97vh;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('images/header.png');
}

.second{
  width: 100%;
  height: 150vh;
  background-color: white;
}

.third{
  width: 100%;
  height: 110vh;
  background-color: pink;
}

/* Footer Section */

.footer{
  width: 100%;
  height: 130vh;
  background-color: black;
  color: white;
}

.bottom{
  width: 100%;
  height: 3vh;
}

li{
  list-style: none;
}

.top-footer{
  display: flex;
  flex-direction: row;
}

.top-left-footer{
  border: 1px solid white;
  width:50%;
  height: 53vh;
}
.top-right-footer{
  border: 1px solid white;
  width:50%;
  height: 53vh;
}

.mid-footer{
  display: flex;
  flex-direction: row;
}
.bottom-footer{
  display: flex;
  flex-direction: row;
}

.mid-left-footer{
  border: 1px solid white;
  width:75%;
  height: 64vh;
}
.mid-right-footer{
  border: 1px solid white;
  width:25%;
  height: 64vh;
}
.bottom-left-footer{
  border: 1px solid white;
  width:75%;
  height: 12vh;
}
.bottom-right-footer{
  border: 1px solid white;
  width:25%;
  height: 12vh;
}

.bottom{
  width: 100%;
  height: 20px;
  background-color: tomato;
}