body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

/* Top Section */

.top-nav {
  width: 100%;
  height: 100px;
}

.top-nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top-nav-right {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  right: 0;
  width: 100%;
  margin-top: 17px;
  padding-right: 24px;
}

#signUp {
  min-height: 40px;
  margin: 10px 20px;
  color: white;
}

#signBtn {
  padding: 0 15px;
  background-color: white;
  color: rgb(77, 77, 77);
  border: none;
  border-radius: 25px;
  min-height: 40px;
  font-size: 0.95rem;
  font-weight: 700;
}

#header-logo {
  width: 225px;
  height: auto;
  padding-top: 2%;
}

/* Heading Section */

.top-heading {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
}

.strap {
  text-align: center;
  max-width: 670px;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 70px;
}

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 97vh;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('images/header.png');
}

/* Search Section */

.top-search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.searchBarHolder {
  position: relative;
}

#searchBar {
  margin-top: 20px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid white;
  text-align: left;
  height: 40px;
  outline: none;
  min-width: 360px;
  padding-left: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

#searchBarSubmit {
  position: absolute;
  height: 38px;
  width: 38px;
  background-color: red;
  border: 1px transparent;
  border-radius: 38px;
  right: 0;
  margin-right: 4px;
  margin-top: 23px;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  outline: none;
}

/* Second Section */

.second {
  width: 100%;
  background-color: white;
}

.second h2{
  margin-top: 0;
}

.second a{
  font-weight: 800;
  color: red;
}

.second-top {
  display: flex;
  margin-top: 130px;
  height: 430px;
}

.sec-top-left {
  padding: 0 0 0 70px;
  text-align: center;
  width: 33%;
  height: 100%;
}

.sec-top-mid {
  padding: 0 0 0 70px;
  text-align: center;
  width: 34%;
  height: 100%;
}

.sec-top-right {
  padding: 0 70px 0 70px;
  text-align: center;
  width: 33%;
  height: 100%;
  
}

.mid-pics {
  width: 40%;
  height: auto;
}

.second-bottom {
  display: flex;
  text-align: left;
  height: 500px;
}

.sec-bot-left{
  padding-top: 80px;
  max-width: 40%;
}

.s-b-l{
  padding: 0 65px;
}

.f1{
  width: 120%;
  height: auto;
}

#find-res-btn{
  background-color: red;
  border-radius: 25px;
  width: 160px;
  min-height: 40px;
  padding: 0 15px;
  color: white;
  border: none;
  font-size: 0.95rem;
  font-weight: 700;
}

/* Third Section */

.third {
  display: flex;
  width: 100%;
  height: 730px;
  background-color: #ffeef2d9;
}

.third-right{
  padding: 200px 45px 0 45px;
}

.f2{
  padding-top: 100px;
  padding-left: 50px;
  width: 720px;
  height: auto;
}

/* .t-r{
  padding: 0 65px;
} */
#order-btn{
  background-color: red;
  border-radius: 25px;
  width: 110px;
  min-height: 40px;
  padding: 0 15px;
  color: white;
  border: none;
  font-size: 0.95rem;
  font-weight: 700;
}
/* Footer Section */

.footer {
  width: 100%;
  height: 130vh;
  background-color: black;
  color: white;
}

.bottom {
  width: 100%;
  height: 3vh;
}

li {
  list-style: none;
  font-weight:300;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-header{
  text-decoration: none;
  font-size: 16px;
  font-weight:400 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-footer {
  display: flex;
}

.top-left-footer {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 50%;
  height: 53vh;
  padding: 20px 0 0 75px;
}

.tlf{
  display: flex;
  line-height: 1.8rem;
}

.tlf1{
  border: 1px solid white;
  width: 190px;
}

.tlf2{
  border: 1px solid white; 
  width: 185px;
}

.tlf3{
  border: 1px solid white;
  width: 33%;
}

.top-right-footer {
  border: 1px solid white;
  width: 50%;
  height: 53vh;
}

.mid-footer {
  display: flex;
  flex-direction: row;
}
.bottom-footer {
  display: flex;
  flex-direction: row;
}

.mid-left-footer {
  border: 1px solid white;
  width: 75%;
  height: 64vh;
}
.mid-right-footer {
  border: 1px solid white;
  width: 25%;
  height: 64vh;
}
.bottom-left-footer {
  border: 1px solid white;
  width: 75%;
  height: 12vh;
}
.bottom-right-footer {
  border: 1px solid white;
  width: 25%;
  height: 12vh;
}

.bottom {
  width: 100%;
  height: 20px;
  background-color: tomato;
}
